@model DemoWebApp.Areas.FilmFanatic.ViewModels.EditViewModel
@using DemoWebApp.Models
@{
    var genres = Enum.GetValues(typeof(MovieGenre)).Cast<MovieGenre>();
}

@*<form id="EditForm" asp-action="Edit" asp-controller="Movie" asp-area="FilmFanatic" asp-antiforgery="true" method="post">*@
<input type="hidden" asp-for="ID" />
@*<div asp-validation-summary="ModelOnly" class="text-danger"></div>*@

<div class="modal-header">
    <h5 class="modal-title">Edit a Film</h5>
</div>
<div class="modal-body">
    <div class="form-group">
        <div class="row">
            <div class="col-sm-12">
                <label asp-for="Genres"></label>
                <select class="form-control" asp-for="Genres" multiple>
                    @{
                        //var genres = Enum.GetValues(typeof(MovieGenre)).Cast<MovieGenre>();
                        foreach (var g in genres)
                        {
                            if (Model.Genres.Contains(g.ToString()))
                            {
                                <option selected value="@g">@g.ToString()</option>
                            }
                            else
                            {
                                <option value="@g">@g.ToString()</option>
                            }
                        }
                    }
                </select>
            </div>
        </div>
    </div>
    <div class="form-group">
        <div class="row">
            <div class="col-sm-12">
                <label asp-for="Title"></label>
                <input asp-for="Title" class="form-control" />
            </div>
        </div>
    </div>
    <div class="form-group">
        <div class="row">
            <div class="col-sm-12">
                <label asp-for="Description"></label>
                <textarea asp-for="Description" class="form-control" rows="5"></textarea>
            </div>
        </div>
    </div>
    <div class="form-group">
        <div class="row">
            <div class="col-sm-12">
                <label asp-for="ImdbLink"></label>
                <input asp-for="ImdbLink" class="form-control" />
            </div>
        </div>
    </div>
    <div class="form-group">
        <div class="row">
            <div class="col-sm-12">
                <label asp-for="PosterLink"></label>
                <input asp-for="PosterLink" class="form-control" />
            </div>
        </div>
    </div>
</div>
<div class="modal-footer">
    <button id="mUpdateCancel" class="btn btn-link" type="button" data-dismiss="modal">Cancel</button>
    <input id="mUpdate" type="button" value="Save" class="btn bg-success-800" />
</div>
@*</form>*@