@{
    ViewData["Title"] = "What's new in Entity Framework 7?";
}

<div class="content bg-gray-lighter">
    <div class="row items-push">
        <div class="col-sm-8">
            <h1 class="page-heading" data-tmp="EF7">
                What's new in Entity Framework 7?
            </h1>
        </div>
    </div>
</div>

<div class="content content-boxed">
    <div class="row font-s13">
        <div class="col-lg-4">
            <div class="block block-bordered">
                <div class="block-header">
                    <h3 class="block-title">Database Providers</h3>
                </div>
                <div class="block-content">
                    <ul class="list-group">
                        <li class="list-group-item active">
                            <i class="fa fa-fw fa-inbox push-5-r"></i> Microsoft SQL Server
                        </li>
                        <li class="list-group-item">
                            <i class="fa fa-fw fa-send push-5-r"></i> SQLite
                        </li>
                        <li class="list-group-item">
                            <i class="fa fa-fw fa-edit push-5-r"></i> Npgsql (PostgreSQL)
                        </li>
                        <li class="list-group-item">
                            <i class="fa fa-fw fa-archive push-5-r"></i> MySQL
                        </li>
                        <li class="list-group-item">
                            <i class="fa fa-fw fa-trash push-5-r"></i> Microsoft SQL Server Compact Edition
                        </li>
                        <li class="list-group-item">
                            <i class="fa fa-fw fa-trash push-5-r"></i> IBM Data Servers
                        </li>
                        <li class="list-group-item">
                            <i class="fa fa-fw fa-trash push-5-r"></i> InMemory (for testing)
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="block block-bordered">
                <div class="block-header">
                    <h3 class="block-title">Command Line</h3>
                </div>
                <div class="block-content">
                    <div class="pull-r-l pull-t push">
                        <table class="block-table text-center bg-gray-lighter border-b">
                            <tbody>
                                <tr>
                                    <td class="border-r" style="width: 50%;">
                                        <div class="h5 text-muted text-uppercase push-5-t">Package Manager Console (Visual Studio)</div>
                                    </td>
                                    <td>
                                        <div class="h5 text-muted text-uppercase push-5-t">.NET Core CLI</div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="highlight-none">
                        <div class="highlight">
                            <pre><span></span>Usage: dotnet ef [options] [command]                                
Options:
    -h|--help
    -v|--verbose
    --version
    --framework &lt;FRAMEWORK&gt;
    --configuration &lt;CONFIGURATION&gt;
    --build-base-path &lt;OUTPUT_DIR&gt;  
    --no-build
Commands:
    database
    dbcontext
    migrations</pre>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="block block-bordered">
                <div class="block-header">
                    <h3 class="block-title">DbContext Initialization</h3>
                </div>
                <div class="block-content">
                    <div class="pull-r-l pull-t push">
                        <table class="block-table text-center bg-gray-lighter border-b">
                            <tbody>
                                <tr>
                                    <td class="border-r" style="width: 50%;">
                                        <div class="h1 font-w700">Options</div>
                                        <div class="h5 text-muted text-uppercase font-s12 push-5-t">DbContextOptionsBuilder</div>
                                    </td>
                                    <td>
                                        <div class="h1 font-w700">Services</div>
                                        <div class="h5 text-muted text-uppercase font-s12 push-5-t">System.IServiceProvider</div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="alert alert-success">
                        <p>Microsoft.Extensions.DependencyInjection</p>
                    </div>
                    <div class="alert alert-danger">
                        <div class="highlight-none">
                            <div class="highlight">
                                <pre>optionsBuilder.UseMyProvider("Server=contoso.com")</pre>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>