@{
    ViewData["Title"] = "Home Page";
}

<div class="content">
    <div class="row">
        <div class="col-lg-12">
            <div class="block block-themed">
                <div class="block-header bg-primary">
                    <h3 class="block-title">Timeline</h3>
                </div>
                <div class="block-content">
                    <table class="table table-borderless table-vcenter">
                        <tbody>
                            <tr class="active">
                                <th style="width: 50px;"></th>
                                <th>1. Intro</th>
                                <th class="font-s12 text-right">
                                    <span class="text-muted">15 min</span>
                                </th>
                            </tr>
                            <tr>
                                <td class="success text-center">
                                    <i class="fa fa-fw fa-star text-success"></i>
                                </td>
                                <td>
                                    <a>Wellcome to the workshop</a>
                                </td>
                                <td class="text-right"></td>
                            </tr>
                        </tbody>
                    </table>
                    <table class="table table-borderless table-vcenter">
                        <tbody>
                            <tr class="active">
                                <th style="width: 50px;"></th>
                                <th>2. Basics</th>
                                <th class="font-s12 text-right">
                                    <span class="text-muted">30 min</span>
                                </th>
                            </tr>
                            <tr>
                                <td class="success text-center">
                                    <i class="fa fa-fw fa-star text-success"></i>
                                </td>
                                <td>
                                    <a>What's new in ASP.NET Core?</a>
                                </td>
                                <td class="text-right"></td>
                            </tr>
                            <tr>
                                <td class="success text-center">
                                    <i class="fa fa-fw fa-star text-success"></i>
                                </td>
                                <td>
                                    <a>Changes in project structure</a>
                                </td>
                                <td class="text-right"></td>
                            </tr>
                            <tr>
                                <td class="success text-center">
                                    <i class="fa fa-fw fa-star text-success"></i>
                                </td>
                                <td>
                                    <a>Controllers</a>
                                </td>
                                <td class="text-right"></td>
                            </tr>
                            <tr>
                                <td class="success text-center">
                                    <i class="fa fa-fw fa-star text-success"></i>
                                </td>
                                <td>
                                    <a>Tag Helpers</a>
                                </td>
                                <td class="text-right"></td>
                            </tr>
                            <tr>
                                <td class="success text-center">
                                    <i class="fa fa-fw fa-star text-success"></i>
                                </td>
                                <td>
                                    <a>Entity Framework Core</a>
                                </td>
                                <td class="text-right"></td>
                            </tr>
                            <tr>
                                <td class="success text-center">
                                    <i class="fa fa-fw fa-star text-success"></i>
                                </td>
                                <td>
                                    <a>Bower &amp; Gulp</a>
                                </td>
                                <td class="text-right"></td>
                            </tr>
                        </tbody>
                    </table>
                    <table class="table table-borderless table-vcenter">
                        <tbody>
                            <tr class="active">
                                <th style="width: 50px;"></th>
                                <th>3. Workshop</th>
                                <th class="font-s12 text-right">
                                    <span class="text-muted">60 min</span>
                                </th>
                            </tr>
                            <tr>
                                <td class="success text-center">
                                    <i class="fa fa-fw fa-star text-success"></i>
                                </td>
                                <td>
                                    <a>Areas &amp; Routing</a>
                                </td>
                                <td class="text-right"></td>
                            </tr>
                            <tr>
                                <td class="success text-center">
                                    <i class="fa fa-fw fa-star text-success"></i>
                                </td>
                                <td>
                                    <a>Database Models</a>
                                </td>
                                <td class="text-right"></td>
                            </tr>
                            <tr>
                                <td class="success text-center">
                                    <i class="fa fa-fw fa-star text-success"></i>
                                </td>
                                <td>
                                    <a>EF Core Migrations</a>
                                </td>
                                <td class="text-right"></td>
                            </tr>
                            <tr>
                                <td class="success text-center">
                                    <i class="fa fa-fw fa-star text-success"></i>
                                </td>
                                <td>
                                    <a>Views &amp; ViewModels</a>
                                </td>
                                <td class="text-right"></td>
                            </tr>
                        </tbody>
                    </table>
                    <table class="table table-borderless table-vcenter">
                        <tbody>
                            <tr class="active">
                                <th style="width: 50px;"></th>
                                <th>4. Q &amp; A</th>
                                <th class="font-s12 text-right">
                                    <span class="text-muted">15 min</span>
                                </th>
                            </tr>
                            <tr>
                                <td class="success text-center">
                                    <i class="fa fa-fw fa-star text-success"></i>
                                </td>
                                <td>
                                    <a>Various</a>
                                </td>
                                <td class="text-right"></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>